.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #E3E6E6; */
  align-items: center;
  margin-left: 3rem;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

#gridImage {
  width: 40%;
}

.title {
  display: block;
  font-size: 15px;
  color: black;
}

.linkTitle {
  text-decoration: none;
}
